<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Kunden</title>
        <link rel="stylesheet" href="../style/styles.css">
    </head>
    <body>

        <h1>Kundenliste</h1>
        <a th:href="@{/addnew}">Kunde hinzufügen</a>
        <table>
            <thead>
                <tr>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Geburtsdatum</th>
                    <th>Strasse</th>
                    <th>Hausnummer</th>
                    <th>Stadt</th>
                    <th>Postleitzahl</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer:${customerList}">
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.birthdate}"></td>
                    <td th:text="${customer.street}"></td>
                    <td th:text="${customer.streetNumber}"></td>
                    <td th:text="${customer.city}"></td>
                    <td th:text="${customer.zip}"></td>
                    <td>
                        <a class="button" th:href="@{/deleteCustomer(id=${customer.id})}">Löschen</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
